.array-container {
  display: flex;
  justify-content: center;
  margin: 70px 10px 0 10px;
  text-align: center;
  font-weight: bold;
  div {
    background-color: $secondary;
    display: inline-block;
    margin: 0 1px;
  }
  .selected {
    background-color: $selected;
  }
  .comparing {
    background-color: $comparing;
  }
  .sorted {
    background-color: $sorted;
  }
  @media (max-width: $tablet) {
    margin-top: 102px;
  }
  @media (max-width: $mobile) {
    margin-top: 112px;
  }
}

