.array-container {
  display: flex;
  justify-content: center;
  margin-top: 68px;
  text-align: center;
  font-weight: bold;
  div {
    background-color: $secondary;
    display: inline-block;
    margin: 0 1px;
  }
  .selected {
    background-color: $selected;
  }
  .comparing {
    background-color: $comparing;
  }
  .sorted {
    background-color: $sorted;
  }
}
